<!DOCTYPE html>
<html>
<head>
  <title>Publisher Listing</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Publisher Listing</h1>
  <p><strong>Name:</strong> <%= publisher ? publisher.publisher_name : 'Sample Publisher' %></p>
  <a href="/testcases">Back to Test Cases</a>
</body>
</html>
